@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/* Global variables  */
	:root {
		--color-text-base: #262626;
		--color-text-muted: #4B4B4B;
		--color-text-inverted: 255 255 255;
		--color-text-base-dark: 250 250 250;
		--color-text-muted-dark: 207 207 207; 
		/* Text Chip */
		--color-text-chip-inverted: 85 0 255;
		--color-text-chip-tertiary-dark: 226 212 255;
		/* Background Fill Chip */
		--color-fill-chip-primary: 80 0 255;
		--color-fill-chip-tertiary-dark: 226 212 255;
		/* Background Fill Navigation */
		--color-fill-navigation-primary: 250 250 250;
		--color-fill-navigation-primary-dark: 202 176 255;
		--color-fill-navigation-burger-light: 57 57 57;
		--color-fill-navigation-burgerk-dark: 250 250 250;
		/* Background Fill Page */
		--color-fill-page-light: 202 176 255;
		--color-fill-page-dark: 0 0 0;
		/* Border Fill Navigation */
		--color-border-fill-navigation-primary: 250 250 250;
		--color-border-fill-navigation-primary-dark: 202 176 255;
		--color-border-fill-navigation-muted: 189 189 189;
		/* Border Fill Input */
		--color-border-fill-input: 189 189 189;
		--color-border-fill-input-dark: 202 176 255;
		/* Border Fill Footer */
		--color-border-fill-footer: 207 207 207;
		--color-border-fill-footer-dark: 202 176 255;
		/* Border Fill Chip */
		--color-border-fill-chip-primary: 85 0 255;
		--color-border-fill-chip-tertiary: 85 0 255;
		--color-border-fill-chip-tertiary-dark: 226 212 255;
		/* Border Fill Card */
		--color-border-fill-card-primary: 250 250 250;
		--color-border-fill-card-primary-dark: 202 176 255;
		/* Background Fill Card  */
		--color-fill-card-primary: 255 255 255;
		--color-fill-card-primary-dark: 202 176 255;
		/* Background Fill Input  */
		--color-fill-input: 248 248 248;
		/* Background Fill Nav Link */
		--color-fill-nav-link-active: 85 0 255;
		/* Fill Icons */
		--color-fill-icon-primary: 112 40 255;
		--color-fill-icon-primary-dark: 180 143 255;
		/* Fill Nav Icons */
		--color-fill-nav-icon-primary: 57 57 57;
		--color-fill-nav-icon-primary-dark: 250 250 250;
		--color-fill-nav-icon-muted: 189 189 189;
		--color-fill-nav-icon-muted-dark: 189 189 189;
		/* Stroke Icons */
		--color-stroke-icon-primary: 112 40 255;
		--color-stroke-icon-primary-dark: 180 143 255;
		--color-stroke-icon-inverted: 255 255 255;
		/* Stroke Nav Icons */
		--color-stroke-nav-icon-primary: 57 57 57;
		--color-stroke-nav-icon-primary-dark: 255 255 255;
		--color-stroke-nav-icon-muted: 189 189 189;
		--color-stroke-nav-icon-muted-dark: 189 189 189;
		--color-stroke-nav-icon-inverted: 255 255 255;
		/* Shadow Navigation */
		--shadow-navigation-primary: 0px 5px 21px 0px rgba(207, 207, 207, 0.55);
		/* Shadow Input Field */
		--shadow-input-field: 0px 5px 21px 0px rgba(207, 207, 207, 0.55);
		/* Shadow Card */
		--shadow-card-primary: 0px 5px 21px 0px rgba(207, 207, 207, 0.55);
		/* Fill Toggle Btn */
		--color-fill-toggle-btn-active: 85 0 255;
		/* Fill Button */
		--color-fill-btn-primary: 85 0 255;
	}
}


/* 
:root.theme-dark {
	--gray-0: #ffffff;
	--gray-50: #f3f4f7;
	--gray-100: #e3e6ee;
	--gray-200: #c3cadb;
	--gray-300: #a3acc8;
	--gray-400: #8490b5;
	--gray-500: #6474a2;
	--gray-600: #505d84;
	--gray-700: #3d4663;
	--gray-800: #283044;
	--gray-900: #141925;
	--gray-999-basis: 225, 31%, 5%;
	--gray-999: #090b11;

	--accent-light: #1c0056;
	--accent-regular: #7611a6;
	--accent-dark: #c561f6;
	--accent-overlay: hsla(280, 89%, 67%, 0.33);
	--accent-subtle-overlay: hsla(281, 81%, 36%, 0.33);
	--accent-text-over: var(--gray-0);

	--link-color: var(--accent-dark);

	--gradient-stop-1: #4c11c6;
	--gradient-subtle: linear-gradient(150deg, var(--gray-900) 19%, var(--gray-999) 81%);
	--gradient-accent-orange: linear-gradient(
		150deg,
		#ca7879,
		var(--accent-regular),
		var(--accent-light)
	);
	--gradient-stroke: linear-gradient(180deg, var(--gray-600), var(--gray-800));

	--shadow-sm: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03);
	--shadow-md: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06);
	--shadow-lg: 0px 62px 25px rgba(255, 255, 255, 0.01), 0px 35px 21px rgba(255, 255, 255, 0.05),
		0px 16px 16px rgba(255, 255, 255, 0.1), 0px 4px 9px rgba(255, 255, 255, 0.12);
}

html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-color: var(--gray-999);
	color: var(--gray-200);
	font-family: var(--font-body);
	-webkit-font-smoothing: antialiased;
	line-height: 1.5;
}

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.1;
	font-family: var(--font-brand);
	font-weight: 600;
	color: var(--gray-100);
}

h1 {
	font-size: var(--text-5xl);
}

h2 {
	font-size: var(--text-4xl);
}

h3 {
	font-size: var(--text-3xl);
}

h4 {
	font-size: var(--text-2xl);
}

h5 {
	font-size: var(--text-xl);
} */

/* Utilities */
/* 
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.wrapper {
	width: 100%;
	max-width: 83rem;
	margin-inline: auto;
	padding-inline: 1.5rem;
}

.stack {
	display: flex;
	flex-direction: column;
}

.gap-2 {
	gap: 0.5rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-15 {
	gap: 3.75rem;
}
.gap-20 {
	gap: 5rem;
}
.gap-30 {
	gap: 7.5rem;
}
.gap-48 {
	gap: 12rem;
} */

/* @media (min-width: 50em) {
	.lg\:gap-2 {
		gap: 0.5rem;
	}
	.lg\:gap-4 {
		gap: 1rem;
	}
	.lg\:gap-8 {
		gap: 2rem;
	}
	.lg\:gap-10 {
		gap: 2.5rem;
	}
	.lg\:gap-15 {
		gap: 3.75rem;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:gap-30 {
		gap: 7.5rem;
	}
	.lg\:gap-48 {
		gap: 12rem;
	}
} */
