---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
	title="About | Nemanja Manojlovic"
	description="About Nemanja Manojlovic"
>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			/>
			<section class="preamble">
				<div class="qr-code-wrapper">
					<p class="qr-title">Scan to Download CV</p>
					<img
						height="250px"
						width="250px"
						src=`${import.meta.env.BASE_URL}assets/qr-code-resume.webp`
						alt="QR Code for downloading word version of Nemanja's CV."
						class="qr-img"
					/>
				</div>
			</section>
			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						I am a 24-year-old software engineer from Sweden with 4 years of
						experience in the industry. I am highly versatile and enthusiastic,
						with a quick learning ability. I have a strong background in full
						stack development, UI/UX design, and cloud infrastructure. My
						current focus is on technologies such as React, NodeJS, ExpressJS,
						NestJS, Typescript, Yarn, NPM, Github, Github Actions, Monorepo
						automation, Docker, React Native, GraphQL, Apollo GraphQL, and more.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<ul>
						<li>
							<p>Goldsmiths, University of London (2023 - ongoing)</p>
						</li>
						<li>
							<p>
								Full Stack Developer (2019 - 2021) Code Institute, Dublin,
								Ireland
							</p>
						</li>
						<li>
							<p>
								Natural Science (2014 - 2017) International Baccalaureate,
								Stockholm, Sweden
							</p>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Experience</h2>
				<div class="content">
					<ul>
						<li>
							<p>Nebulr Group AB (2022-2023)</p>
							<ul>
								<li>
									<p>
										Working on the creation and maintenance of underlying
										infrastructure for new products.
									</p>
								</li>
								<li>
									<p>
										Design and implementation of proprietary cloud microservice
										solutions, client-side plugins (React, CLI, SDKs), and
										automation of tasks (DevOps, GitHub Actions, Docker, K8s).
									</p>
								</li>
								<li>
									<p>
										Administration and creation of monorepos with project’s
										associated stack toolchains (Webpack, yarn, npm, Babel,
										Typescript, Tailwind, PostCSS, ESLint).
									</p>
								</li>
								<li>
									<p>
										Built microservice that is using Auth 2.0 and OpenID Connect
										protocol to grant access to user resources.
									</p>
								</li>
								<li>
									<p>
										Built PoC integration of Ace, an open-source in-browser IDE
										for allowing code interoperability.
									</p>
								</li>
							</ul>
						</li>
						<li>
							<p>Self-Employed, Freelancing (2021-2022)</p>
							<ul>
								<li>
									<p>
										On-demand creation and optimization of websites for other
										firms.
									</p>
								</li>
								<li>
									<p>On-demand, design UI and UX development for firms.</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Technical Knowledge</h2>
				<div class="content">
					<ul>
						<li>
							<p>Programming Languages:</p>
							<ul>
								<li><p>JavaScript</p></li>
								<li><p>TypeScript</p></li>
								<li><p>Python</p></li>
								<li><p>Bash</p></li>
								<li><p>Ruby</p></li>
								<li><p>HTML5</p></li>
								<li><p>CSS</p></li>
								<li><p>SASS</p></li>
							</ul>
						</li>
						<li>
							<p>Terminal, OS & IDE Preferences:</p>
							<ul>
								<li><p>Tmux (multiplexer)</p></li>
								<li><p>Alacritty (shell emulator)</p></li>
								<li><p>ZShell</p></li>
								<li>
									<p>MacOS or Debian-based Linux Distros</p>
								</li>
								<li>
									<p>lsof (terminal tool for file system traversing)</p>
								</li>
								<li><p>VSCode or Jetbrains IDEs</p></li>
							</ul>
						</li>
						<li>
							<p>Frameworks, Libraries & Running Environments:</p>
							<ul>
								<li><p>React</p></li>
								<li>
									<p>Vue</p>
								</li>
								<li><p>Next</p></li>
								<li>
									<p>Nest</p>
								</li>
								<li>
									<p>Expres</p>
								</li>
								<li>
									<p>Node</p>
								</li>
								<li>
									<p>Django</p>
								</li>
								<li>
									<p>Flask</p>
								</li>
								<li>
									<p>Bootstrap</p>
								</li>
								<li>
									<p>Tailwind</p>
								</li>
								<li>
									<p>Three.js</p>
								</li>
								<li>
									<p>GSAP</p>
								</li>
								<li>
									<p>Webpack</p>
								</li>
								<li>
									<p>Babel</p>
								</li>
								<li>
									<p>Docker</p>
								</li>
								<li>
									<p>Kubernetes</p>
								</li>
								<li>
									<p>GraphQL</p>
								</li>
								<li>
									<p>JQuery</p>
								</li>
							</ul>
						</li>
						<li>
							<p>Cloud (IaaS, PaaS, SaaS):</p>
							<ul>
								<li>
									<p>GCP</p>
								</li>
								<li>
									<p>AWS</p>
								</li>
								<li>
									<p>Heroku</p>
								</li>
								<li>
									<p>Digital Ocean</p>
								</li>
								<li>
									<p>Azure</p>
								</li>
							</ul>
						</li>
						<li>
							<p>Design:</p>
							<ul>
								<li>
									<p>UX/UI</p>
								</li>
								<li>
									<p>Logo Design</p>
								</li>
								<li>
									<p>Vector Design</p>
								</li>
								<li>
									<p>3D Design and Modelling</p>
								</li>
								<li>
									<p>Mockups</p>
								</li>
								<li>
									<p>Figma</p>
								</li>
								<li>
									<p>Adobe XD</p>
								</li>
								<li>
									<p>Photoshop</p>
								</li>
								<li>
									<p>Blender</p>
								</li>
							</ul>
						</li>
						<li>
							<p>Version Control & Cloud Repository Hosting Services:</p>
							<ul>
								<li>
									<p>Git Tool</p>
								</li>
								<li>
									<p>GitHub</p>
								</li>
								<li>
									<p>GitLab</p>
								</li>
								<li>
									<p>gh CLI (Github CLI)</p>
								</li>
								<li>
									<p>LazyGit (CLI tool written in GO)</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Cultural Volunteer Work</h2>
				<div class="content">
					<p>
						For the International Red Cross in Serbia, I volunteered at a school
						for children with special needs providing help and guidance in
						physical exercises, swimming, and other associated activities.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Personal Habits</h2>
				<div class="content">
					<ul>
						<li>
							<p>Prolific Learner</p>
						</li>
						<li>
							<p>Problem-solving</p>
						</li>
						<li>
							<p>Adaptability</p>
						</li>
						<li>
							<p>Organization</p>
						</li>
						<li>
							<p>Empathy</p>
						</li>
						<li>
							<p>Open-mindedness</p>
						</li>
						<li>
							<p>Creativity</p>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hobbies & Interests</h2>
				<div class="content">
					<ul>
						<li>
							<p>Programming</p>
						</li>
						<li>
							<p>Reading</p>
						</li>
						<li>
							<p>Photography</p>
						</li>
						<li>
							<p>Fitness</p>
						</li>
						<li>
							<p>Nutrition</p>
						</li>
						<li>
							<p>Dogs</p>
						</li>
						<li>
							<p>Design</p>
						</li>
					</ul>
				</div>
			</section>
			<section>
				<h2 class="section-title">Languages</h2>
				<div class="content">
					<ul>
						<li>
							<p>Mother Tongue - Serbian</p>
						</li>
						<li>
							<p>Second Language - English</p>
						</li>
						<li>
							<p>Third Language - Swedish</p>
						</li>
					</ul>
				</div>
			</section>
		</main>
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}
	.qr-code-wrapper {
		padding: 1rem;
		background-color: #ffffff;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		grid-column: 2 / 3;
		margin: 0 auto;
		text-align: center;
		max-height: 200;
	}

	.qr-title {
		font-weight: 600;
		margin-bottom: 1rem;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.preamble {
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
