---
import { twMerge, type ClassNameValue } from "tailwind-merge";
import { clsx } from "clsx";

interface Props {
  type: "primary" | "primary-outline" | "tertiary";
  className?: ClassNameValue;
}

const { type, className } = Astro.props;
---

<div
  class:list={twMerge(
    clsx([
      "flex align-center content-center py-2 px-3.5 gap-2.5 rounded-full font-semibold text-sm",
      {
        "text-skin-inverted bg-chip-primary": type === "primary",
        "border border-chip-primary text-chip-inverted dark:text-skin-inverted dark:bg-chip-primary":
          type === "primary-outline",
        "border border-chip-tertiary dark:border-chip-tertiary-dark/[70%] dark:bg-chip-tertiary-dark/[16%] text-chip-inverted dark:text-chip-tertiary-dark dark:backdrop-blur-sm":
          type === "tertiary",
      },
      className,
    ])
  )}
>
  <slot />
</div>
