---
interface Props {
	title: string;
	tagline?: string;
}

const { tagline, title } = Astro.props;
---

<div class:list={["flex flex-col gap-8"]}>
	<h1
		class="text-6xl font-bold text-skin-base dark:text-skin-base-dark max-w-[591px] text-center md:text-left"
	>
		{title}
	</h1>
	{
		tagline && (
			<p class="text-skin-muted dark:text-skin-muted-dark text-2xl font-semibold max-w-[591px] text-center md:text-left">
				{tagline}
			</p>
		)
	}
	<slot />
</div>
