---

---

<!--Component Template -->
<div id="northwhistle-canvas-container"></div>
<script>
  import World from "../utils/threejs/World";

  import loadGLTFObject from "../utils/threejs/loadGLTFObject";

  import type { CameraSettings } from "../utils/threejs/createCamera";

  import enableMobileTouchAction from "../utils/threejs/enableMobielTouchAction";

  const main = async () => {
    // Get a reference to the container element
    const container = document.getElementById(
      "northwhistle-canvas-container",
    ) as HTMLElement;
    const camneraSettings: CameraSettings = {
      fov: 50,
      position: { x: -2, y: -1, z: 4 },
    };
    // Crate a new World
    const world = new World(
      container,
      undefined,
      camneraSettings,
      undefined,
      {
        autoRotate: true,
      },
      enableMobileTouchAction,
    );

    // Modify world light
    world.lights.ambientLight.intensity = 0.4;
    world.lights.mainLight.intensity = 3.5;

    world.init = async () => {
      // Load models
      const objectList = await loadGLTFObject([
        {
          path: `${
            import.meta.env.BASE_URL
          }assets/models/obj/northwhistle/northwhistle.glb`,
        },
      ]);
      // Check if the models have been loaded
      // If so add them to the scene
      if (objectList && objectList[0]) {
        const northwhistle = objectList[0];
        northwhistle.model.scale.set(0.02, 0.02, 0.02);
        northwhistle.model.position.set(0, -1, 0.5);

        world.scene.add(northwhistle.model);
      }
    };

    // Complete async tasks
    await world.init();

    // Start the animation loop
    world.start();
  };

  main();
</script>

<style>
  #northwhistle-canvas-container {
    width: 100%;
    max-width: 100%;
    height: 23rem;
  }
</style>
