---
import Icon from "./Icon.astro";
---

<section
  class="flex flex-col text-center gap-11 md:gap-0 md:text-start md:flex-row max-w-[1290px] justify-around py-10 border rounded-[20px] border-card-primary shadow-card-primary dark:shadow-none dark:border-card-primary-dark/[8%] dark:bg-card-primary-dark/[16%] bg-card-primary/[50%] backdrop-blur-sm px-3"
>
  <div class="max-w-[346px] mx-auto">
    <div class="flex items-center justify-center md:justify-start">
      <Icon
        icon="terminal-window"
        color="fill-icon-primary dark:fill-icon-primary-dark stroke-icon-primary dark:stroke-icon-primary-dark"
        size="2.5rem"
      />
      <h2
        class="text-2xl font-bold text-skin-base dark:text-skin-base-dark ml-4"
      >
        Full Stack
      </h2>
    </div>
    <p class="mt-4 font-medium text-skin-muted dark:text-skin-muted-dark">
      Strong background in full stack development and cloud infrastructure.
    </p>
  </div>
  <div class="max-w-[346px] mx-auto">
    <div class="flex items-center justify-center md:justify-start">
      <Icon
        icon="trophy"
        size="2.5rem"
        color="fill-icon-primary dark:fill-icon-primary-dark stroke-icon-primary dark:stroke-icon-primary-dark"
      />
      <h2
        class="text-2xl font-bold text-skin-base dark:text-skin-base-dark ml-4"
      >
        Knowledge Driven
      </h2>
    </div>
    <p class="mt-4 font-medium text-skin-muted dark:text-skin-muted-dark">
      Continuously keeping up to date with new technologies and in line with
      leading industry standards.
    </p>
  </div>
  <div class="max-w-[346px] mx-auto">
    <div class="flex items-center justify-center md:justify-start">
      <Icon
        icon="strategy"
        size="2.5rem"
        color="fill-icon-primary dark:fill-icon-primary-dark stroke-icon-primary dark:stroke-icon-primary-dark"
      />
      <h2
        class="text-2xl font-bold text-skin-base dark:text-skin-base-dark ml-4"
      >
        Strategy-Minded
      </h2>
    </div>
    <p class="mt-4 font-medium text-skin-muted dark:text-skin-muted-dark">
      Developing and executing effective plans and strategies to achive
      long-term goals.
    </p>
  </div>
</section>
