---
import Icon from "./Icon.astro";
---

<theme-toggle class="animate delay-10">
  <button
    type="button"
    class="rounded-full flex border border-navigation-muted dark:border-navigation-primary-dark/[18%] relative h-8 w-16 items-center"
  >
    <span class="sr-only">Dark theme</span>
    <div class="w-1/2 flex justify-center">
      <Icon
        icon="moon-stars"
        size="1rem"
        color="stroke-nav-icon-primary dark:stroke-nav-icon-primary-dark transition-colors delay-150"
        className="z-20"
      />
    </div>
    <span
      class="z-1 flex p-2 absolute rounded-full bg-toggle-btn-active h-full w-1/2 right-0 transition-transform delay-150 dark:-translate-x-full"
    ></span>
    <div class="w-1/2 flex justify-center">
      <Icon
        icon="sun"
        size="1rem"
        color="stroke-nav-icon-inverted dark:stroke-nav-icon-muted-dark transition-colors delay-150"
        className="z-20"
      />
    </div>
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"]("dark");
        button.setAttribute("aria-pressed", String(dark));
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener("click", () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("dark");
    }
  }

  customElements.define("theme-toggle", ThemeToggle);
</script>
