---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body class="dark:bg-page-dark bg-page-light-[8%]">
    <div
      class="flex flex-col items-center bg-page-light/[8%] backgrounds relative overflow-y-clip px-6 overflow-x-clip"
    >
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      /* Mobile Light Theme Post Load. */
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-main: url("/assets/backgrounds/bg-nav-mobile.png");
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-subtle-3: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.dark {
        --bg-image-main: url("/assets/backgrounds/bg-subtle-1.png");
        --bg-blend-mode: lighten;
      }

      /* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
      :root.loaded {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-mobile.png");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2.png");
        --bg-image-subtle-3: url("/assets/backgrounds/bg-subtle-3.png");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-mobile.png");
      }
      /* Mobile Dark Theme Post Load */
      :root.loaded.dark {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark-800w.jpg");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark-800w.jpg");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-dark-800w.jpg");
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
          /*header1*/ var(--bg-image-main) top
            center/var(--bg-gradient-size) no-repeat,
          /* footer */ var(--bg-image-footer) center 95% no-repeat;
      }

      /* Desktop */
      @media (min-width: 768px) {
        :root {
          --bg-scale: 1;
          --bg-image-main: url("/assets/backgrounds/bg-nav.png");
        }
        /* Dark Theme */
        :root.dark {
          --bg-image-main: url("/assets/backgrounds/bg-nav-dark.png");
        }

        /* Light Theme */
        :root.loaded {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1.png");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2.png");
          --bg-image-subtle-3: url("/assets/backgrounds/bg-subtle-3.png");
          --bg-image-footer: url("/assets/backgrounds/bg-footer.png");
        }

        /* Dark Theme Post Load */
        :root.loaded.dark {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark.png");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark.png");
          --bg-image-subtle-3: url("/assets/backgrounds/bg-subtle-3-dark.png");
          --bg-image-footer: url("/assets/backgrounds/bg-footer-dark.png");
        }

        .backgrounds {
          background-position: center top, center bottom;
        }

        .dark div.backgrounds {
          background-position: -300px 0%, center bottom;
        }
      }

      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
