---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
  image?: string | undefined;
}

const { title, description, image } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} image={image} />
  </head>
  <body class="dark:bg-page-dark bg-page-light-[8%]">
    <div
      class="flex flex-col items-center bg-page-light/[8%] backgrounds relative overflow-y-clip overflow-x-clip"
    >
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded"),
      );
    </script>

    <style>
      /* Mobile Light Theme Post Load. */
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-main: url("/assets/backgrounds/bg-nav-mobile.webp");
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-subtle-3: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.dark {
        --bg-image-main: url("/assets/backgrounds/bg-nav-mobile-dark.webp");
        --bg-blend-mode: lighten;
      }

      /* These backgrounds are displayed below the fold, so we lazy load them
			   once the `.loaded` class has been set.  */
      :root.loaded {
        --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-mobile.webp");
        --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2.webp");
        --bg-image-subtle-3: url("/assets/backgrounds/bg-subtle-3.webp");
        --bg-image-footer: url("/assets/backgrounds/bg-footer-mobile.webp");
      }
      /* Mobile Dark Theme Post Load */
      :root.loaded.dark {
        --bg-image-footer: url("/assets/backgrounds/bg-footer-mobile-dark.webp");
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
          /*header1*/
          var(--bg-image-main) top center/var(--bg-gradient-size) no-repeat,
          /* footer */ var(--bg-image-footer) center 95% no-repeat;
      }

      .dark div.backgrounds {
        background-position:
          top center/var(--bg-gradient-size),
          left no-repeat;
      }

      /* Desktop */
      @media (min-width: 768px) {
        :root {
          --bg-scale: 1;
          --bg-image-main: url("/assets/backgrounds/bg-nav.webp");
        }
        /* Dark Theme */
        :root.dark {
          --bg-image-main: url("/assets/backgrounds/bg-nav-dark.webp");
        }

        /* Light Theme */
        :root.loaded {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1.webp");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2.webp");
          --bg-image-subtle-3: url("/assets/backgrounds/bg-subtle-3.webp");
          --bg-image-footer: url("/assets/backgrounds/bg-footer.webp");
        }

        /* Dark Theme Post Load */
        :root.loaded.dark {
          --bg-image-subtle-1: url("/assets/backgrounds/bg-subtle-1-dark.webp");
          --bg-image-subtle-2: url("/assets/backgrounds/bg-subtle-2-dark.webp");
          --bg-image-subtle-3: url("/assets/backgrounds/bg-subtle-3-dark.webp");
          --bg-image-footer: url("/assets/backgrounds/bg-footer-dark.webp");
        }

        .backgrounds {
          background-position:
            center top,
            center bottom;
        }

        .dark div.backgrounds {
          background-position:
            -300px 0%,
            center bottom;
        }
      }

      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
    <script>
      const animateUi = () => {
        const options = {
          root: null,
          threshold: 0,
        };

        const observer = new IntersectionObserver((entries, observer) => {
          entries.forEach((entry) => {
            // Get current scroll position
            const scrollY = window.scrollY;

            if (
              entry.isIntersecting &&
              entry.target.getBoundingClientRect().top > scrollY
            ) {
              entry.target.classList.add("pop");
              observer.unobserve(entry.target);
            } else if (
              entry.isIntersecting &&
              entry.target.getBoundingClientRect().top < scrollY
            ) {
              entry.target.classList.add("opacity");
              observer.unobserve(entry.target);
            }
          });
        }, options);

        document.querySelectorAll(".animate").forEach((el) => {
          observer.observe(el);
        });
      };

      animateUi();
    </script>
  </body>
</html>
